.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart__img{
    max-width: 600px;
    width: 60%;
    object-fit: cover;
    margin-top: 10px;
}
h1{
    font-size: 1 rem;
    font-weight: 600;
}