@import url(reset.css);

* {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 45px;
  font-weight: 800;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.delivery-section {
  height: 100vh;
  background-color: #ffbe2e;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 45px 0;
  align-items: center;
}

.header__logo {
  max-height: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  min-height: 100vh;
}
.menu-burger__item {
  display: block;
  background-color: #f0c76f;
  text-align: center;
}
.menu-burger__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #3e3b3b;
  cursor: pointer;
}
.menu-burger__cross {
  max-width: 30px;
  position: absolute;
  top: 55px;
  right: 45px;
  display: block;
}

.menu__item:not(:last-child) {
  margin-right: 23px;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  font-size: 18px;
  font-weight: 500;
  color: #3e3b3b;
  transition: 0.35s;
}

.menu__link:hover {
  font-weight: 800;
  transition: 0.35s;
}

.menu__lang {
  font-weight: 700;
  margin-left: 30px;
  margin-right: 5px;
}
.menu__next,
.menu__next--ukr {
  max-height: 10px;
  margin: 3px 0 0 5px;
  transition: 0.3s;
  cursor: pointer;
}
.menu__next--ukr {
  position: relative;
}
.about-sublist {
  position: absolute;
  left: 19%;
  top: 7%;
  display: none;
  list-style: none;
  height: 100px;
}
.about-sublist__link {
  font-size: 18px;
  font-weight: 500;
  color: #3e3b3b;
  transition: 0.35s;
  background-color: #fff;
  border: 1px solid #3e3b3b;
  padding: 10px 0;
  min-width: 300px;
}

.about-sublist__item {
}

.__icon-img {
  margin-right: 38px;
  max-height: 35px;
}

.header__search {
  transition: 0.35s;
}

.header__people {
  transition: 0.35s;
}

.header__search:hover {
  transform: rotate(-30deg);
  transition: 0.35s;
  cursor: pointer;
}

.header__people:hover {
  transform: rotate(30deg);
  transition: 0.35s;
  cursor: pointer;
}
.__transform {
  transform: rotate(90deg);
  transition: 0.3s;
}
.header__images-block {
  display: flex;
}

.header__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 25px 30px;
  border: none;
  border-radius: 40px;
  transition: 0.35s;
}

.header__button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transform: scale(1.1);
  transition: 0.35s;
  cursor: pointer;
}

.telephones {
  display: flex;
  flex-direction: column;
}

.telephones__num {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #3e3b3b;
}
.telphones_menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #3e3b3b;
  /*position: absolute;
    top: 65px;
    right: 250%;*/
  display: none;
}

.telephones__num:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.header__basket {
  max-height: 45px;
  transition: 0.35s;
}

.header__basket:hover {
  transform: scale(1.1);
  transition: 0.35s;
  cursor: pointer;
}

.head-block {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.head-block__head {
  font-weight: 900;
  font-size: 55px;
  line-height: 67px;
  color: #3e3b3b;
}

.head-block__image {
  margin-right: 130px;
}
.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.delivery-block__locaction {
  display: flex;
}

.world {
  background-color: #ffff;
  flex: 1;
  text-align: center;
  padding: 20px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.ukraine {
  background-color: #ffeecc;
  flex: 1;
  text-align: center;
  padding: 20px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.active-head {
  background-color: #ffff;
}
.active-head__title {
  font-weight: 700;
}

.ukraine__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.world__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.delivery-block__choice {
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  padding: 50px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.choice-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.choice-block__head {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.choice-block__input {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  background: #ffeecc;
  border: 1px solid #ffbe2e;
  border-radius: 40px;
  padding: 30px 170px 30px 30px;
}

.choice-block__arrow {
  position: absolute;
  top: 75px;
  right: 30px;
}

.confidence__com-head {
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  margin-top: 86px;
}

.__yellow {
  color: #ffbe2e;
}

.company-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 35px;
  width: 100%;
}

.company-block__item {
  width: calc(25% - 30px);
  border: 1px solid #ffbe2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  transition: 0.35s;
}

.company-block__item:hover {
  transform: scale(1.1);
  transition: 0.35s;
  cursor: pointer;
  border-color: #c08c1a;
}

.globalpost-head {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-top: 80px;
  text-align: center;
}

.global-block {
  display: flex;
  gap: 30px;
  padding-left: 30px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.global-block__item {
  width: calc(25% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 13px rgba(255, 190, 46, 0.23);
  border-radius: 48px;
  transition: 0.35s;
}

.global-block__item:hover {
  transform: scale(1.1);
  transition: 0.35s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.services {
  background-color: #fff8e9;
  padding: 107px 0 90px;
}

.services-head {
  text-align: center;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
}

.services-block {
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px 0 100px;
  margin-top: 60px;
}

.services-block__item {
  border: 1px solid #ffbe2e;
  border-radius: 40px;
  text-align: center;
  transition: 0.3s;
}

.services-block__item:hover {
  border: none;
  background-color: #3e3b3b;
  transition: 0.3s;
}

.services-block__link {
  font-weight: 500;
  font-size: 35px;
  line-height: 219%;
  color: #3e3b3b;
  padding: 16px 30px;
  transition: 0.3s;
}

.services-block__link:hover {
  color: #ffbe2e;
  transition: 0.3s;
}

.order-block {
  display: flex;
  margin-top: 70px;
  align-items: center;
}

.order-block__text > p {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.order-block__second-p {
  margin-top: 35px;
}

.order-block__button {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  background: #ffbe2e;
  box-shadow: 0px 3px 20px rgba(255, 190, 46, 0.6);
  border-radius: 37.5px;
  border: none;
  padding: 20px 30px;
  margin-top: 30px;
  transition: 0.2s;
}

.order-block__button:hover {
  border: 2px solid #3e3b3b;
  transition: 0.2s;
  cursor: pointer;
}

.benefit-head {
  text-align: center;
  margin-top: 100px;
}

.benefit-block {
  display: flex;
  gap: 30px;
  padding-right: 0px;
}

.benifit-item {
  width: 33.33%;
  margin-top: 70px;
  box-shadow: 0px 2px 13px rgba(255, 190, 46, 0.23);
  border-radius: 48px;
  padding: 40px;
  transition: 0.35s;
}

.benifit-item:hover {
  cursor: pointer;
  background-color: #f0c76f;
  transition: 0.5s;
}

.benifit-item__head {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  margin-top: 25px;
}

.benifit-item__img {
  max-width: 270px;
  max-height: 140px;
}

.benifit-item__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.time-block {
  display: flex;
  background: #fff8e9;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding: 25px 150px;
}

.time-block__item {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}

.time-block__head {
  margin-bottom: 40px;
}

.time-block__item::before {
  content: url(../img/Ellipse\ 59.png);
  margin-right: 8px;
}

.time-block__image {
  max-width: 400px;
}

.low-section {
  padding-bottom: 100px;
}

.low-head {
  max-width: 802px;
  margin: 0 auto;
}

.low-subtitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.step-block {
  display: flex;
  justify-content: space-between;
  height: 350px;
  position: relative;
}

.step-block__item {
  text-align: center;
  max-width: 25%;
}

.step-block__item--down {
  margin-top: auto;
}

.step-block__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #ffbe2e;
}

.step-block__subtitle {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin: 10px 0;
}

.step-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.step-image {
  max-width: 19%;
  position: absolute;
}

.step-image__first {
  top: 25%;
  left: 21%;
}

.step-image__second {
  top: 7%;
  right: 23%;
}

.question-section {
  background-color: #fff8e9;
  padding: 100px 0;
}

.quiestion-wrapper {
  display: flex;
  align-items: center;
}

.quiestion-wrapper__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}

.quiestion-wrapper__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 15px 0;
}

.quiestion-wrapper__text {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.quiestion-wrapper__block {
  max-width: 430px;
  margin: 0 auto;
}

.quiestion-wrapper__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-wrapper__input {
  background: #ffffff;
  border: 1px solid #ffbe2e;
  border-radius: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #7d7a7a;
  padding: 23px;
  margin-top: 15px;
}

.question-wrapper__input:first-child {
  margin-top: 25px;
}

.question-wrapper__button {
  background: #ffbe2e;
  box-shadow: 0px 3px 20px rgba(255, 190, 46, 0.6);
  border-radius: 42.5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 25px 100px;
  margin-top: 15px;
  transition: 0.2s;
}

.question-wrapper__button:hover {
  border: 2px solid #3e3b3b;
  transition: 0.2s;
  cursor: pointer;
}

.footer {
  background-color: #ffbe2e;
  padding: 115px 0 100px;
  position: relative;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}
.media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 211.88%;
  color: #3e3b3b;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  display: none;
  cursor: pointer;
}
.media__contact {
  right: 25%;
}
.media__about {
  left: 30%;
}

.footer__logo {
  max-width: 104px;
  max-height: 60px;
  margin-top: 20px;
}

.footer__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 211.88%;
  color: #3e3b3b;
  transition: 0.5s;
}

.footer__link:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.footer__item {
  margin-top: -10px;
}

.footer__wrap-block {
  display: flex;
}

.footer__wrap-block:not(:last-child) {
  margin-bottom: 20px;
}

.footer__icon {
  max-width: 26px;
  max-height: 26px;
  margin-right: 10px;
}

.footer__adress-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 152.59%;
}

.footer__tel-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 152.59%;
  color: #3e3b3b;
  transition: 0.5s;
}

.footer__tel-link:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.footer__time-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 111.9%;
  margin-top: 5px;
}

.footer__tel-item {
  margin-top: -30px;
}

.show {
  display: block;
  z-index: 11;
}
.show-opacity {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1410px) {
  .header__button {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 18px;
  }
  .__icon-img {
    margin-right: 20px;
  }
  .choice-block__head {
    font-size: 20px;
    line-height: 27px;
  }

  .choice-block__input {
    font-size: 18px;
    line-height: 20px;
    margin-right: 10px;
    padding: 20px 120px 20px 20px;
  }
  .choice-block__arrow {
    top: 67px;
    right: 20px;
  }
  .ukraine__title {
    font-size: 25px;
    line-height: 30px;
  }
  .world__title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1270px) {
  .telphones_menu {
    display: block;
  }
  .telephones__num {
    display: none;
  }
  .__icon-img {
    max-height: 25px;
  }
  .header__basket {
    max-height: 30px;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu__lang {
    margin-left: 0px;
  }
  .header__logo {
    max-height: 45px;
  }
  .choice-block__input {
    padding: 20px 60px 20px 20px;
  }
}
@media (max-width: 1030px) {
  .__icon-img {
    margin-right: 10px;
  }
  .quiestion-wrapper__image {
    max-width: 50%;
  }
}
@media (max-width: 1100px) {
  .head-block__head {
    font-weight: 900;
    font-size: 43px;
    line-height: 47px;
    color: #3e3b3b;
  }
  .head-block__image {
    margin-right: 80px;
  }
  .order-block__text > p {
    font-size: 20px;
    line-height: 25px;
  }
  .order-block__button {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 20px;
  }
  .order-block__image {
    max-width: 50%;
  }
  .benifit-item__head {
    font-size: 25px;
    line-height: 33px;
    margin-top: 20px;
  }

  .benifit-item__img {
    max-width: 200px;
    max-height: 100px;
  }

  .benifit-item__text {
    font-size: 18px;
    line-height: 20px;
  }
  .step-image {
    display: none;
  }
  .step-block__item--down {
    margin-top: 0;
  }
}
@media (max-width: 980px) {
  .hamburger-lines {
    opacity: 1;
  }
  .hamburger-lines:hover {
    cursor: pointer;
  }
  .menu__item {
    display: none;
  }
  .__icon-img {
    max-height: 40px;
  }
  .header__basket {
    max-height: 35px;
  }
  .header__logo {
    max-height: 60px;
  }
  .head-block__image {
    max-width: 300px;
  }
  .choice-block__input {
    padding: 15px 50px 15px 15px;
  }
  .choice-block__arrow {
    max-width: 15px;
  }
  .media__link {
    display: inline-block;
  }
  .footer__blog-block,
  .footer__contact-block,
  .footer__delivery-block {
    display: none;
  }
  .footer {
    padding: 90px 0 80px;
  }
}
@media (max-width: 930px) {
  .delivery-block__choice {
    display: none;
  }
  .delivery-section {
    height: 100%;
    padding-bottom: 50px;
  }

  .benifit-item {
    margin-top: 50px;
    padding: 20px;
  }
  .time-block {
    margin: 80px 0;
    padding: 25px 100px;
  }

  .time-block__item {
    font-size: 20px;
    line-height: 25px;
  }

  .time-block__image {
    max-width: 300px;
  }
  .time-block__head,
  .time-block__head span {
    font-size: 25px;
  }
  .low-head,
  .low-head span {
    font-size: 25px;
    text-align: center;
  }
  .low-subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .low-section {
    padding-bottom: 10px;
    height: 800px;
  }
  .step-block__title {
    font-size: 40px;
    line-height: 53px;
  }

  .step-block__subtitle {
    font-size: 25px;
    line-height: 33px;
  }

  .step-block__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 770px) {
  .benefit-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .benifit-item {
    width: 65%;
  }
  .quiestion-wrapper__image {
    display: none;
  }
}
@media (max-width: 630px) {
  .header__button {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .__icon-img {
    display: none;
  }
  .header__basket {
    max-height: 30px;
  }

  .header__logo {
    max-height: 45px;
  }
  .head-block {
    flex-direction: column-reverse;
  }
  .head-block__head {
    margin-left: 25px;
  }
  .confidence__com-head span,
  .confidence__com-head {
    font-size: 35px;
    line-height: 45px;
    margin-top: 65px;
  }
  .globalpost-head,
  .globalpost-head span {
    font-size: 35px;
    line-height: 45px;
  }
  .services-head,
  .services-head span {
    font-size: 35px;
    line-height: 45px;
  }
  .company-block__item {
    width: calc(50% - 30px);
    padding: 20px 10px;
  }
  .company-block__image {
    max-height: 30px;
  }
  .global-block {
    flex-direction: column;
    align-items: center;
  }
  .global-block__item {
    width: 60%;
  }
  .services-block {
    padding: 0 20px 0 70px;
    margin-top: 40px;
  }
  .services-block__link {
    font-size: 25px;
    line-height: 40px;
  }
  .services-block__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order-block__text > p {
    font-size: 15px;
    line-height: 20px;
  }

  .order-block__image {
    display: none;
  }
  .order-block__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit-head,
  .benefit-head span {
    font-size: 35px;
    line-height: 45px;
  }
  .time-block__image {
    max-width: 200px;
    margin-left: 10px;
  }
  .step-block {
    flex-direction: column;
    align-items: center;
  }
  .step-block__item {
    max-width: 65%;
  }
  .footer__logo {
    display: none;
  }
  .media__about {
    left: 10%;
  }
  .media__contact {
    right: 10%;
  }
}
@media (max-width: 480px) {
  .services-block__link {
    font-size: 17px;
    line-height: 20px;
  }
  .step-block__title {
    font-size: 30px;
    line-height: 33px;
    margin-top: 5px;
  }

  .step-block__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .step-block__text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 460px) {
  .header__button {
    display: none;
  }
  .telphones_menu {
    display: none;
  }
  .time-block__image {
    display: none;
  }
}
@media (max-width: 740px) {
  .head-block__head {
    font-weight: 900;
    font-size: 35px;
    line-height: 37px;
    color: #3e3b3b;
  }
  .head-block__image {
    margin-right: 60px;
    max-width: 250px;
  }
  .ukraine__title {
    font-size: 18px;
    line-height: 25px;
  }
  .world__title {
    font-size: 18px;
    line-height: 25px;
  }
}
